@import "vars"


@media only screen and (max-width : 1199px)
	// CONTENT MEDIA STYLES START
	.content
		background-position: 0 0, 0 1300px
	// CONTENT MEDIA STYLES END

	// SECTION PRESENTATION MEDIA STYLES START
	.presentation
		&-block
			padding: 0 3rem
			&::before, &::after
				display: none
		&-title
			font-size: 3rem
			&:first-letter
				margin-left: -11px
		&-subtitle
			&::before
				right: -150px
				bottom: 0
		&-btn
			margin-top: .875rem
	// SECTION PRESENTATION MEDIA STYLES END

	// NAVIGATION MEDIA STYLES START 
	.nav
		&-menu
			transition: all .25s
			position: fixed
			top: -36px
			right: -36px
			height: 36px
			width: 36px
			z-index: 100
			cursor: pointer

		&-links
			flex-direction: column
			transition: all 0s
			position: fixed
			right: -9000px

		&-bar-wrap
			width: 42px
			height: 36px
			position: fixed
			top: 40px
			right: 15px
			background-color: $sub-color
			border-radius: 5px
			z-index: 10
		&-bar
			position: absolute
			top: 47%
			left: 15%
			transition: all .25s
			height: 3px
			width: 30px
			border-radius: 15px
			background-color: $accent-color
			&::before, &::after  
				transition: all .25s
				content: ""
				position: absolute
				left: 0
				height: 3px
				width: 30px
				border-radius: 15px
				background-color: $accent-color
				top: -8px
			&::before
				top: -8px
			&::after 
				top: 8px
	
		&-menu-expanded
			transition: all .25s
			text-align: center
			line-height: 2em
			height: 100%
			width: 100%
			border-radius: 0px
			position: fixed
			right: 0
			top: 0
			background-color: rgba(#131313, .95)
			overflow-y: auto
			overflow-x: hidden
			.nav-links
				text-align: center
				transition: all .1s
				position: relative
				right: 0
				z-index: 2
				padding-top: 100px
			.nav-link
				display: block
				padding: 1rem 0
				text-decoration: none
				color: #fff
				font-size: 1em
				border-bottom: 1px solid $accent-color
				transition: all .15s
				&:hover 
					background-color: $accent-color
					text-decoration: none
					transition: all .15s
			li
				&:first-child
					.nav-link
						border-top: 1px solid $accent-color
			.nav-bar 
				background-color: transparent
				transition: all .25s
				&:before 
					transition: all .25s
					top: 0
					transform: rotate(45deg)
				&:after 
					transition: all .25s
					top: -0px
					transform: rotate(-45deg)
	// NAVIGATION MEDIA STYLES END 

	// SECTION ABOUT MEDIA STYLES START 
	.about
		&-text
			font-size: 1.125rem
		&-img
			max-width: 50%
			margin: 0 auto
	// SECTION ABOUT MEDIA STYLES END 

	// SECTION PRODUCT MEDIA STYLES START
	.product
		margin-top: 15px
		&-models
			margin-top: 0
		&-img
			&[src*="5"]
				left: -36%
			&[src*="7"]
				left: -30%
		.product-title.two-string
			padding-right: 70px
	// SECTION PRODUCT MEDIA STYLES END

	// MODAL WINDOW MEDIA STYLES START
	.product-modal
		padding: 65px 60px
	.product-modal-title
		max-width: 100%
	.product-modal-top:before
		display: none
	// MODAL WINDOW MEDIA STYLES END

	/**/



@media only screen and (max-width : 991px)

	// CONTENT MEDIA STYLES START
	.content
		background-position: 0 0, 0 2100px
	// CONTENT MEDIA STYLES END

	/**/



@media only screen and (max-width : 767px)

	// CONTENT MEDIA STYLES START
	.content
		background-position: 0 0, 0 3800px
	// CONTENT MEDIA STYLES END
	
	// GENERAL MEDIA STYLES START
	.subtitle
		display: block
		padding-bottom: 1.5rem
		font-size: 22px
		text-align: center
		&::before
			height: 3px
			right: 50%
			transform: translateX(50%)
	.text
		font-size: 16px
	// GENERAL MEDIA STYLES END


	// SECTION PRESENTATION MEDIA STYLES START
	.logo
		max-width: 50px
	.presentation
		&-block
			padding: 0 1rem 2rem
			border-width: 1rem
		&-title
			margin-bottom: 2rem
			font-size: 32px
			&:first-letter
				margin-right: -5px
		&-subtitle
			text-align: left
			
	// SECTION PRESENTATION MEDIA STYLES END
	
	// NAVIGATION MEDIA STYLES START 
	.nav-bar-wrap
		top: 35px
	// NAVIGATION MEDIA STYLES END 

	// SECTION ABOUT MEDIA STYLES START 
	.about
		&-text
			font-size: 1rem
			line-height: 1.2
		&-img
			max-width: 260px
			margin: 0 auto
	// SECTION ABOUT MEDIA STYLES END 

		// SECTION PRODUCT MEDIA STYLES START
	.product
		padding: 0
		&-subtitle
			margin-right: 0
		.product-model
			max-width: 350px
			margin-left: auto
			margin-right: auto
			.product-img
				left: 0
			.product-img[src*="3"]
				left: -40%
			.product-img[src*="5"]
				left: -37%
			.product-img[src*="7"]
				left: -22%
		.product-title.two-string
			padding-right: 85px
	// SECTION PRODUCT MEDIA STYLES END

	// MODAL WINDOW MEDIA STYLES START
	.mfp-close
		top: 5px
		right: 5px
		&:active
			top: 4px
	.product-modal
		padding: 33px
	.product-modal-top, .product-modal-bottom
		padding-left: 15px
	// MODAL WINDOW MEDIA STYLES END

	//  SECTION VIDEO MEDIA STYLES START 
	.video
		padding: 0
	.videoPoster:before
		transform: translate(-50%, -50%) scale(.75)
	//  SECTION VIDEO MEDIA STYLES END 

	/**/


@media only screen and (max-width : 575px)

	/**/


@media only screen and (max-width : 480px)

	// CONTENT MEDIA STYLES START
	.content
		background-position: 0 0, 0 4100px
	// CONTENT MEDIA STYLES END

	// MODAL WINDOW MEDIA STYLES START
	.mfp-close
		right: 0
	.product-modal
		padding: 0 30px 0 0
	.product-modal-bottom
		padding-bottom: 20px
	.social
		margin-top: 25px
		position: static
		text-align: center
	// MODAL WINDOW MEDIA STYLES END

	/**/



@media only screen and (max-width : 320px)

	/**/





// @media only screen and (min-width : 320px)

// 	/**/



// @media only screen and (min-width : 480px)

// 	/**/


// @media only screen and (min-width : 576px)

// 	/**/


// @media only screen and (min-width : 768px)

// 	/**/



// @media only screen and (min-width : 992px)

// 	/**/



// @media only screen and (min-width : 1200px)

// 	/**/